<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
{{template "head.inc"}}
<title>Vault</title>
<link rel="stylesheet" type="text/css" href="/vault/static/css/home.css">
<link rel="apple-touch-icon-precomposed" href="/vault/static/img/vault.png">
<script src="/vault/static/js/jquery-2.0.3.min.js"></script>
<script src="/vault/static/js/aes.js"></script>
<script src="/vault/static/js/home.js"></script>
</head>
<body>
    <div id="chrome"></div>
    <div id="sync">Verifying&hellip;</div>
    <div id="search"></div>
</body>
</html>

